.result {
  min-height: 400px;
  padding: 20px 50px;
  margin: 10px 30px;
  margin-top: 50px;
  background: #FFFFFF;
  border-radius: 6px;
  opacity: 95%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.result-2 {
  min-height: 400px;
  padding: 20px 50px;
  margin: 10px 30px;
  background: #FFFFFF;
  border-radius: 6px;
  opacity: 95%;
}