<div class = "container-2">
  <% if params[:query].present? %>
    <div class = "result-container">
      <% if @votes.present? %>
        <% @votes.each do |vote| %>
          <h6>Votre bureau de vote:</h6>
          <h1><%= vote.title %></h1>
          <h3><%= vote.address %></h3>
        <% end %>
    </div>
    <div class="result-2">
      <div class= "style" style=" height: 600px;" data-controller="mapbox" data-mapbox-markers-value="<%= @markers.to_json %>" data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
      <% else %>
        <h6>Votre zip code ne correspond a aucun lieu de vote, êtes vous sûr de voter dans l’Etat de NY, NJ, CT ou aux Bermudes.</h6>
      <% end %>
  <% end %>
</div>