    <div class="col-sm-8">
        <% if params[:query].present? %>
          <% if @votes.present? %>
            <% @votes.each do |vote| %>
          <h6>Here is where you shoud go to vote</h6>
              <h3><%= vote.address %></h3>
            <% end %>
              <% else %>
                <h3> Sorry my friend, your zipcode doesn't match try again </h3>
          <% end %>
        <% end %>
    </div>