<div class = "container-2">
  <% if params[:query].present? %>
    <div class = "result-container">
      <% if @votes.present? %>
        <% @votes.each do |vote| %>
          <h6>Quelle chance, tu dois aller voter ici :</h6>
          <h3><%= vote.address %></h3>
        <% end %>
    </div>
    <div class="result-2">
      <div><h1>comment j'y vais ?</h1></div>
      <div class= "style" style="width: 100%; height: 600px;" data-controller="mapbox" data-mapbox-markers-value="<%= @markers.to_json %>" data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
      <% else %>
        <h6> Oups ! Ton zipcode ne correspond à aucun lieu de vote... Es-tu sûr de toi ? </h6>
      <% end %>
  <% end %>
</div>